.sidebar{
	padding:10px 30px;
	background: #2a3d5f;
	background: url(../images/bg2.jpg) no-repeat;
	background-size: cover;

	min-height:100%;
	height:100%;
	position: fixed;
	width:300px;
	box-shadow: inset -20px 0 40px rgba(0,0,0, .11);
	color:#fff;

	.person{
		margin: 60px 30px;
		.avatar{
			width:120px;
			height: 120px;
			border:5px solid rgba(#fff, .22);
		}

		ul{
			padding: 0; margin: 0; list-style: none;
			font-size: 0;
			li{
				font-size: 18px;
				padding: 0; margin: 0; list-style: none;
				display: inline-block;
				a{
					display: block;
					padding: 5px 15px;
					margin-left: 1px;
				}
			}
		}
	}

	ul{
		padding: 0; margin: 0; list-style: none;
		li{
			padding: 0; margin: 0; list-style: none;
			a{
				border-top: 1px solid rgba(#fff, .11);
				border-bottom: 1px solid rgba(#000, .22);
				text-shadow: -1px -1px 0px rgba(0,0,0, .22);
				display: block;
				padding:15px 10px;
				font-size: 12px;
				color:#fff;
				transition: all .4s;
				text-transform: uppercase;
				letter-spacing: 2px;

				&:hover{
					text-decoration: none;
					background: rgba($brand-color, 0.75);
					.fa{
						color:#fff;
					}
				}
				&:active, &:focus{
					text-decoration: none;
					background: rgba(#000, 0.11);
				}


				.fa{
					transition: all .4s;
					color:$brand-color;
				}
			}
		}
	}
}
