$brand-color: #447fe6;
$brand-primary:  $brand-color;
$btn-primary-bg: $brand-color;

$border-radius-base: 2px;
$border-radius-large: 2px;

$input-bg: #f6f6f6;

@import "bootstrap";
@import "_header.scss";
@import "_navigation.scss";
@import "_footer.scss";
@import "_animation.scss";

html{
	min-height:100%;
}
body{
	min-height:100%;

	.back-image{
		background: url(../images/bg2.jpg) no-repeat;
		background-size: cover;
		top:0; left:0;
		height: 100%;
		width: 100%;
		position: fixed;
	}
}

.base-content{
	background: #fff;
	height:100%;
	margin-left: 300px;
	padding:0 35px;
	max-width: 1000px;
}

.account-list{

	h3{
		margin:0;
	}
	td{
		padding-top: 15px !important;
		padding-bottom:15px !important;

		color:#666;

		&.buttons{
			text-align: right;
			white-space: nowrap;
			vertical-align: middle;
		}
		&.information{
			vertical-align: middle;
		}
		h3{
			line-height: 60px;
		}
	}
}

h1{
	font-size: 24px;
	color:#000;
	text-transform: uppercase;
	letter-spacing: 7px;
	position: relative;
	margin-bottom: 60px;
	font-weight: 300;
	text-align: center;
	&:after{
		display: block;
		content: "";
		position: absolute;
		bottom:-25px;
		left:50%;
		margin-left: -25px;
		width:50px;
		border-top:4px solid $brand-color;
	}
	.base-content &{
		margin-top:60px;
		margin-bottom: 100px;
	}
}

form {
	label{
		/*font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 3px;*/
		font-weight: bold;
		color:#666;
	}
}

.login-form{
	position: relative;
	text-align: center;
	background: #fff;
	padding: 40px 40px 50px 40px;
	margin-top: 100px;
	margin-bottom:50px;

	box-shadow: 0px 12px 50px rgba(#000, .33);

	p{
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	button{
		width:100%;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-shadow: 1px 1px 0px rgba(#000, .22);
		transition: all .4s;
		border-bottom: 2px solid darken( $brand-color, 15);
	}
}

.register-form{
	@extend .login-form;
	margin-top:30px;
	text-align: left;
}

.button-holder{
	margin-top:40px;

	button{
		width:100%;
		text-transform: uppercase;
		letter-spacing: 3px;
		text-shadow: 1px 1px 0px rgba(#000, .22);
		transition: all .4s;
		border-bottom: 2px solid darken( $brand-color, 15);
	}
}
.avatar{
	border-radius: 50%;
	width:60px;
	height: 60px;
	border:1px solid #ddd;
}
