<div>
	<div class="sidebar">
		<div class="person text-center">
			<img src="{{ currentUser.avatar }}" alt="" class="avatar">
			<h3>{{ currentUser.username }}</h3>
			<ul>
				<li><a ui-sref="account.edit({id:currentUser.id})" title="Edit profile"><i class="fa fa-pencil"></i></a></li>
				<li><a ui-sref="account.password({id:currentUser.id})" title="Change Password"><i class="fa fa-key"></i></a></li>
				<li><a ui-sref="logout" title="Logout"><i class="fa fa-sign-out"></i></a></li>
			</ul>
		</div>
		<ul class="left-menu">
			<li><a ui-sref=".list"><i class="fa fa-fw fa-users"></i> All Accounts</a></li>
			<li><a ui-sref=".new"><i class="fa fa-fw fa-user-plus"></i> Create New Account</a></li>
			<li><a ui-sref="logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
		</ul>
	</div>
	<div class="base-content">
		<div class="container-fluid">
			<div ui-view></div>
		</div>
	</div>
</div>
