<h1>Create New Account</h1>

<form name="newForm" ng-submit="submitNew(newForm.$valid)" novalidate>
	<div class="form-group" ng-class="{ 'has-error': newForm.username.$touched && newForm.username.$invalid }">
		<label for="username">Username <span class="label label-danger" ng-show="newForm.username.$error.required && newForm.username.$touched ">Required!</span>
		</label>
		<input type="text" class="form-control" id="username" name="username"
			ng-model="account.username" required>
	</div>

	<div class="form-group" ng-class="{ 'has-error': newForm.email.$touched && newForm.email.$invalid }">
		<label for="email">Email</label> <span class="label label-danger" ng-show="newForm.email.$error.required && newForm.email.$touched ">Required!</span>
		<input type="text" class="form-control" id="email" name="email"
			ng-model="account.email" required>
	</div>

	<div class="form-group" ng-class="{ 'has-error': newForm.password.$touched && newForm.password.$invalid }">
		<label for="password">Password</label>  <span class="label label-danger" ng-show="newForm.password.$error.required && newForm.password.$touched ">Required!</span>
		<input type="password" class="form-control" id="password" name="password"
			ng-model="account.password" required>
	</div>

	<div class="form-group">
		<label for="city">City</label>
		<input type="text" class="form-control" id="city"
			ng-model="account.city">
	</div>

	<div class="form-group">
		<label for="postalCode">Postal Code</label>
		<input type="text" class="form-control" id="postalCode"
			ng-model="account.postalCode">
	</div>

	<div class="form-group">
		<label for="address">Address</label>
		<input type="text" class="form-control" placeholder="address"
			ng-model="account.address">
	</div>

	<div class="form-group">
		<label for="country">Country</label>
		<select id="countrySelect" ng-model="account.country" class="form-control">
			<option value="">---Please select---</option>
			<option value="Czech Republic">Czech Republic</option>
			<option value="Russian Federation">Russian Federation</option>
			<option value="New Zealand">New Zealand</option>
		</select>
	</div>

	<div class="form-group">
		<label for="country">Avatar</label>
		<input type="file" ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().setFiles(this)" />
		<img class="avatar" ng-src="{{image_source}}" style="margin-top:20px;" ng-show="image_source">
	</div>

	<div class="form-group button-holder">
		<button type="submit" class="btn btn-primary btn-lg">Register</button>
	</div>
</form>
