<h1>Change Password</h1>

<div ng-if="errorMessage" class="alert alert-danger" role="alert">
	{{ errorMessage }}
</div>

<form name="passwordForm" ng-submit="submitPassword(passwordForm.$valid)" novalidate>
	<div class="form-group">
		<label for="oldPassword">Old password</label>
		<input type="text" class="form-control" id="oldPassword" name="oldPassword"
			ng-model="pass.oldPassword" required>
	</div>
	<div class="form-group">
		<label for="oldPassword">New password</label>
		<input type="text" class="form-control" id="newPassword" name="newPassword"
			ng-model="pass.newPassword" required>
	</div>
	<div class="form-group button-holder">
		<button type="submit" class="btn btn-primary btn-lg">Change Password</button>
	</div>
</form>
